[Unit]
Description=Daemon to proxy Bluetooth HID connections to Unix sockets
After=bluetooth.target

[Service]
RuntimeDirectory=hid-device-server
ExecStart=/usr/bin/hid-device-server
Group=hiddev

[Install]
WantedBy=multi-user.target
